@import '../../../../public/stylesheets/partials/variables';

aside {
  color: map-get($colors, "sidebar_link");
  display: flex;
  flex-flow: column nowrap;

  nav {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
  }

  h3 {
    font-size: 130%;
    margin: .2em auto;
    text-transform: capitalize;
  }

  input {
    display: block;
    margin: .2em 0 .2em auto;
  }
  
  div.nav__section {
    border: rgba(100,100,100,0.5) solid .25em;
    margin: .5em;
    padding: .75em .5em;
  }

  p.nav__section__label {
    font-size: 110%;
    margin-bottom: .5em;
    text-decoration: none;
    
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}