@import '../../../public/stylesheets/partials/mixins';

div.main-wrapper {
  display: flex;
  justify-content: flex-start;
  @include fullspan;
  
  aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    a {
      display: block;
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
  }
}

div.Game {
  display: flex;
  justify-content: space-between;
  @include fullspan;
  aside {
    @include flexAround(column);
    flex-grow: 1;
  }
  
  div.game-area {
    @include flexAround(column);
    flex-grow: 2;
  }
}