div.Game {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    farthest-corner at 55% 40%, 
  rgb(150, 200, 220) 0%, rgb(97, 166, 194) 65%, rgb(70,100,120) 90%, rgb(40, 80, 90) 100%
  );
}

div.Game__board-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  max-width: 50vw;
  max-height: 100vh;
}