@import '../../../../public/stylesheets/partials/mixins';
@import '../../../../public/stylesheets/partials/variables';

div.RoomDetail {
  display: grid;
  grid-template-columns: [left] 1fr [right];
  grid-template-rows: [top] 1fr [middle] 9fr [bottom];
  height: 20vh;
  padding: 1vw;
  width: 20vh;

  div.RoomDetail__arrow {
    border-top: map-get($colors, 'home') solid 2vh;
    border-left: white solid 1.5vh;
    height: 0;
  }

  div.RoomDetail__data {
    background-color: white;
    height: 90%;
    width: 100%;
    padding: 1vh;
    display: grid;
    grid-template-rows: 2fr 3fr;

    .RoomDetail__heading {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }
  }
}