@mixin fullspan {
  height: 100%;
  width: 100%;
}

@mixin flexAround($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-around;
}

@mixin gameViewLabel {
  color: rgb(255,240,230);
  background-color: rgba(0,0,0,0.7);
  padding: 0.25em;
}

@function place-below($grid-column, $grid-row) {
  @return $grid-row + 1 + '/' + $grid-column + 2 + '/ span 1 / span 1';
}