@import '../../../public/stylesheets/partials/_variables';

div.Room {
  align-items: initial;
  background: map-get($backgrounds, "game_room");
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: stretch;
  overflow: scroll;
  width: 100%;
  height: 100%;

  div.Room__heading {
    align-self: center;
    height: 100%;
    position: sticky;
    top: 1em;
    z-index: 3;
    
    span.error--action {
      padding: 1em;
      background-color: map-get($colors, "error");
      color: white;
    }
  }

  div.Room__game-container {
    min-height: 100%;
    min-width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
  }
  
  div.Room__message-container {
    height: 100%;
    justify-self: flex-end;
    align-self: flex-end;
  }
}