@import '../../../public/stylesheets/partials/_variables';

div.Room {
  align-items: initial;
  background: map-get($backgrounds, "game_room");
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: stretch;
  overflow: scroll;
  width: 100%;
  height: 100%;

  h2 {
    justify-self:stretch;
    align-self: flex-start;
    width: 100%;
    max-height: 5vh;
    
  }

  div.Room__game-container {
    min-height: 100%;
    min-width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
  }
  
  div.Room__message-container {
    height: 100%;
    justify-self: flex-end;
    align-self: flex-end;
  }
}