@import '../../../../public/stylesheets/partials/mixins';
@import '../../../../public/stylesheets/partials/variables';

div.main-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  @include fullspan;
  
  div.NavBar {
    max-height: 10vh;
    min-height: 5vh;
  }

  div.content-wrapper {
    display: flex;
    justify-content: flex-start;
    @include fullspan;

    aside {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 20vw;
      a {
        display: block;
      }
    }
    
    main {
      display: block;
      max-width: 80vw;
      width: 100%;
      height: 100%;
    }
  }
}

button {
  color:map-get($colors, 'sidebar_link');
  cursor: pointer;
  font-family: inherit;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: .5em;
  padding: 0;
  text-decoration: none;
}