@import '../../../../public/stylesheets/partials/mixins';
@import '../../../../public/stylesheets/partials/variables';

div.Game__board {
  // @include fullspan;
  background: radial-gradient(farthest-corner at 55% 40%, rgb(244, 230, 120) 0%, rgb(234, 178, 78) 65%, rgb(200, 160, 90) 90%, rgb(200, 140, 90) 100%);
  background-size: cover;
  box-shadow: -2vmin 4vmin 3vmin rgba(145, 92, 23, 0.5);
  display: grid;
  // flex: 1;
  margin: 0 auto;
  z-index: 1;

  &--size-9 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    
    div.board__point {
      width: 9vmin;
      height: 9vmin;

      @media #{map-get($break-points, "570")} {
        height: 7.5vh;
        width: 7.5vh;
      }
    }
  }
  
  &--size-13 {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    
    div.board__point {
      width: 7vmin;
      height: 7vmin;

      @media #{map-get($break-points, "570")} {
        height: 5vh;
        width: 5vh;
      }
    }
  }
  
  &--size-19 {
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    
    div.board__point {
      width: 5vmin;
      height: 5vmin;
      
      @media #{map-get($break-points, "590")} {
        height: 2.6vw;
        width: 2.6vw;
        max-width: 3.5vh;
        max-height: 3.5vh;
      }
    }
  }
  
}