@import '../../../public/stylesheets/partials/variables';
@import '../../../public/stylesheets/partials/mixins';

div.Home {
  @include fullspan;
  background-color: map-get($colors, "home");
  display: grid;
  grid-template-columns: repeat(auto-fill, 22vh);
  grid-template-rows: repeat(auto-fill, minmax(22vh, 1fr));
  overflow: scroll;
}