@import '../../../../public/stylesheets/partials/mixins';
@import '../../../../public/stylesheets/partials/variables';

div.RoomButton {
  display: grid;
  grid-template-columns: [left] 1fr [right];
  grid-template-rows: [top] 1fr [middle] 4fr [bottom];
  height: 20vh;
  padding: 1vw;
  width: 20vh;

  .RoomButton__room-link {
    @include gameViewLabel;
    align-self: self-end;
    grid-area: top/left/middle/right;
    max-width: fit-content;
    z-index: 1;

    &--info {
      justify-self: end;
    }
  }

  div.small-room {
    display: grid;
    grid-area: top/left/bottom/right;
    grid-template-rows: [sky-start] 4vh [roof-start] 5vh [body-start] 1fr [body-end];
    height: 100%;
    width: 100%;

    .small-room__roof {
      display: grid;
      grid-row: roof-start / body-start;
      grid-template-columns: [left] 10vh [middle] 10vh [right];
      grid-template-rows: 1fr;
      height: 100%;
      max-width: 20vh;

      .small-room__roof-top {
        background: map-get($small-room, "roof");
        box-shadow: 0 0.35vh 0.75vh map-get($colors, "home");
        grid-row: 1 / 2;
        height: 0.7vh;
        position: relative;
        top: 3vh;
        width: 12vh;

        &--left {
          grid-column: left / middle;
          left: -1.2vh;
          transform: rotate(-26deg);
        }

        &--right {
          grid-column: middle / right;
          left: -0.8vh;
          transform: rotate(26deg);
        }
      }

      &--left {
        border-right: map-get($small-room, "body") solid 10vh;
        border-top: map-get($colors, "home") solid 5vh;
        grid-column: left / middle;
        height: 0;
      }

      &--right {
        border-left: map-get($small-room, "body") solid 10vh;
        border-top: map-get($colors, "home") solid 5vh;
        grid-column: middle / right;
        height: 0;
      }
    }

    .small-room__body {
      background-color: map-get($small-room, "body");
      display: grid;
      grid-row: body-start / body-end;
      grid-template-areas: 
        "trim-left gap-left          top-left          gap-mid-left      top-mid gap-mid-right      top-right          gap-right          trim-right"
        "trim-left gap-left          top-left          gap-mid-left      top-mid gap-mid-right      top-right          gap-right          trim-right"
        "trim-left gap-left          window--left      gap-mid-left      door    gap-mid-right      window--right      gap-right          trim-right"
        "trim-left trim--bottom-left trim--bottom-left trim--bottom-left door    trim--bottom-right trim--bottom-right trim--bottom-right trim-right";
      grid-template-columns: 0.5vh 1vh 2fr 1vh 3fr 1vh 2fr 1vh 0.5vh;
      grid-template-rows: 1fr 1vh 5fr 0.75vh;
      justify-self: center;
      width: 80%;
    }

    .small-room__trim {
      background-color: map-get($small-room, "frame");
      height: 100%;
      width: 100%;

      &--left {
        grid-area: trim-left;
        justify-self: start;
      }
      
      &--right {
        grid-area: trim-right;
        justify-self: end;
      }

      &--bottom-left {
        grid-area: trim--bottom-left;
      }
      
      &--bottom-right {
        grid-area: trim--bottom-right;
      }
    }

    .small-room__sign {
      background-color: map-get($small-room, "sign");
      display: grid;
      gap: 0.1vh;
      grid-area: top-mid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 2vh;
      justify-self: center;
      padding: 0.1vh;
      width: 2vh;
      
      .small-room__sign__stone {
        border-radius: 100%;

        &--white {
          background-color: #FFF;
        }

        &--black {
          background-color: #000;
        }
      }
    }

    .small-room__window {
      align-self: center;
      background: map-get($small-room, "window-x"), map-get($small-room, "window-y");
      display: grid;
      grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr 5fr 1fr;
      height: 60%;
      width: 100%;

      &--left {
        grid-area: window--left;
      }
      &--right {
        grid-area: window--right;
      }

      .small-room__window-frame {
        background-color: map-get($small-room, "frame");
        height: 100%;
        width: 100%;

        &--top {
          grid-area: 1/1/2/6;
        }

        &--center {
          grid-area: 3/1/4/6;
        }

        &--bottom {
          grid-area: 5/1/6/6;
        }

        &--left {
          grid-area: 1/1/6/2;
        }

        &--middle {
          grid-area: 1/3/6/4;
        }

        &--right {
          grid-area: 1/5/6/6;
        }
      }
    }
    
    .small-room__door {
      grid-area: door;
      background: map-get($small-room, "door");
      display: grid;
      grid-template-columns: 0.5vh 1fr 0.5vh;
      grid-template-rows: 0.5vh 1fr;
      height: 100%;
      width: 100%;

      .small-room__door-handle {
        align-self: center;
        background: map-get($small-room, "door-handle");
        border-radius: 50%;
        box-shadow: 0.1vh 0.25vh 0.4vh rgba(30, 30, 30, 0.7);
        grid-area: 2/2/3/3;
        height: 0.75vh;
        justify-self: end;
        margin: 0.5vh 0.5vh 0 0;
        width: 0.75vh;
      }

      .small-room__door-frame {
        background-color: map-get($small-room, "frame");
        height: 100%;
        width: 100%;

        &--top {
          grid-area: 1/1/2/3;
        }

        &--left {
          grid-area: 1/1/3/2;
        }

        &--left {
          grid-area: 1/3/3/4;
        }
      }
    }
  }
}